extends layout

block content
  h1 Credit Card Interest Calculator
  p.lead A visualization for computing total interest paid throughout a certain time period
  hr
  .row
  form(action="/submit" method="post")
    .form-group.row
      label.col-md-3.col-form-label(for="totalBalance") Total Balance:
      .col-md-9
        input.form-control(type="number" id="totalBalance" name="totalBalance" required)
    .form-group.row
      label.col-md-3.col-form-label(for="apr") APR (Annual Percentage Rate):
      .col-md-9
        input.form-control(type="number" id="apr" name="apr" required)
    .form-group.row
      label.col-md-3.col-form-label(for="totalMonths") Total Months:
      .col-md-9
        input.form-control(type="number" id="totalMonths" name="totalMonths" required)
    .form-group.row
      .col-md-9.offset-md-3
        button.btn.btn-primary(type="submit") Submit
