label {
  display: block;
  margin-bottom: 10px;
  font-family: Arial, sans-serif; /* Change font family for labels */
}


input[type="number"] {
  padding: 8px;
  margin-bottom: 10px;
  outline: none; /* Remove outline */
  border: none; /* Remove border */
}


  .currencyinput {
    position: relative;
  }

.input-form {
    display: inline-block; /* Make the form display inline-block */
    text-align: left; /* Reset text alignment inside the form */
}

.form-container {
    text-align: center; /* Center align the content */
}
.button-wrapper {
    margin-top: 10px; /* Add some top margin to separate the button from the form */
    text-align: center; /* Center align the button */

}

.form-group {
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  vertical-align: top;
  background-color: #f8f8f8; /* Very light shade of off-white */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
}



.styled-button {
    background-color: #fcdf00; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.styled-button:hover {
    background-color: #45a049; /* Darker Green */
}

.chart-container {
    display: flex;
    flex-direction: row;
}

.chart-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart-container {
    flex: 1;
}

.pie-chart-container-2 {
    flex: 3;
}

.line-chart-container {
    flex: 3;
}

.additional-chart-container {
    flex: 2; 
}

.tabs {
  margin-bottom: 20px;
}

.tab-btn {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
}

.tab-btn:hover {
  background-color: #ddd;
}

.graph-set {
  display: flex;
  flex-wrap: wrap;
}

.graph {
  width: calc(33.33% - 20px);
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
}

.tab {
  overflow: hidden;
  text-align: center; /* Center align the buttons */
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.graph {
  margin-bottom: 20px;
}

/* Make the buttons larger */
.tab button {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 30px; /* Increased padding for larger buttons */
  transition: 0.3s;
  font-size: 16px; /* Adjust font size */
  margin: 10px; /* Add margin for spacing */
}

.graph-divider {
  height: 100%;
  width: 25px; /* Set the width of the divider */
  background-color: #ccc; /* Add a background color to the divider */
  display: inline-block; /* Display the divider as inline-block */
  margin: 0 20px; /* Adjust margin for spacing */
}


  .vertical {
    border-left: 6px solid blue;
    height: 200px;
    position:absolute;
    left: 50%;
  }

  .monthsInterestWrapper {
    display: flex;
}

.monthsInterestContainer {
    flex: 1;
    margin: 0 10px; /* Adjust as needed for spacing */
}

#months-to-payoff-container, #total-interest-paid-container {
  text-align: left;
  margin: 20px; /* Adjust margin as needed */
}

#months-to-payoff,
#total-interest-paid {
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  vertical-align: top;
  background-color: #f8f8f8; /* Very light shade of off-white */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
    font-size: 20px; /* Set font size */

}


#months-to-payoff {
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  vertical-align: top;
  background-color: #f8f8f8; /* Very light shade of off-white */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
    font-size: 20px; /* Set font size */

}


