label {
  display: block;
  margin-bottom: 10px;
  font-family: Arial, sans-serif; /* Change font family for labels */
}


input[type="number"] {
  padding: 8px;
  margin-bottom: 10px;
  outline: none; /* Remove outline */
  border: none; /* Remove border */
}


  .currencyinput {
    position: relative;
  }

.input-form {
    display: inline-block; /* Make the form display inline-block */
    text-align: left; /* Reset text alignment inside the form */
}

.form-container {
    text-align: center; /* Center align the content */
}
.button-wrapper {
    margin-top: 10px; /* Add some top margin to separate the button from the form */
    text-align: center; /* Center align the button */

}

.form-group {
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  vertical-align: top;
  background-color: #f8f8f8; /* Very light shade of off-white */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
}



.styled-button {
    background-color: #fcdf00; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.styled-button:hover {
    background-color: #45a049; /* Darker Green */
}

.chart-container {
    display: flex;
    flex-direction: row;
}

.pie-chart-container {
    flex: 1;
}

.line-chart-container {
    flex: 3;
}

.additional-chart-container {
    flex: 2; 
}
